@import "themeColors";

main.home {
  background-color: $themeColor-light;
  height: 60vh;
  margin: 4rem 2rem;
  display: grid;
  grid-template-columns: [leftside] 1fr [midcol] 1fr [rightside];
  grid-template-rows: [topside] 1fr [bottomside];
  border-radius: 1rem;
}
section.tables {
  grid-row: [topside] / [bottomside];
  grid-column: [leftside] / [midcol];
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.charts {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: [topside] / [midcol] / [bottomside] / [rightside];
}

// have to position charts to the left taking up entire column
